@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.contacts-decor {
  background-color: rgba(220, 220, 224, 0.6);
  border-radius: 0 0 0 20px;
  margin-bottom: -100px;
  width: initial;
  height: 100px;
  margin-left: 30%;
}
.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
  }

  &__logo {
    border-radius: 20px;
  }
  &__inner {
  }
  &__contacts {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
  }
  &__icon {
    height: 25px;
    width: 25px;
  }
}
.contact-header {
  &__item {
    padding: 0px 0px 0px 34px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    min-height: 24px;
    color: #000;
    letter-spacing: 0.4px;
  }
  &__item:not(:last-child) {
    margin-bottom: 34px;
  }

  &__item-phone {
    background: url("../images/icons/phone.svg") 0 50% no-repeat;
  }
  &__item-whatsupp {
    background: url("../images/icons/whatsup.svg") 0 50% no-repeat;
  }
  &__item-email {
    background: url("../images/icons/mail.svg") 0 50% no-repeat;
    align-items: center;
  }
  &__item-location {
    background: url("../images/icons/adress.svg") 0 50% no-repeat;
  }
  &__item-time {
    background: url("../images/icons/time.svg") 0 50% no-repeat;
  }
  &__item-dwn {
    background: url("../images/icons/download.svg") 7% 50% no-repeat;
  }
}
.btn__download {
  @extend %font-text;
  border: 2px solid #ff5f19;
  border-radius: 5px;
  padding: 5px 5px 5px 34px;

  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}
.menu {
  &__list {
    display: flex;
    justify-content: space-between;
    text-align: end;
  }
  &__list-item {
    margin-top: 55px;
  }

  &__link {
    @extend %font-title;
    font-family: "Days One", sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 25px;
  }
}
.top {
  &__slider {
  }
  &__slider slick-dots {
  }

  &__slider-item {
  }
  &__slider-img {
    max-width: 100%;
  }
}
.slick-dots {
  position: absolute;
  left: 20px;
  bottom: 40px;
  display: flex;
  flex-direction: row;
}
.slick-dots li + li {
  padding-left: 10px;
}

.slick-dots button {
  font-size: 0;
  padding: 0;
  background-color: #f1f1f5;
  border: none;
  height: 3px;
  width: 36px;
}
.slick-active button,
.slick-dots button:hover {
  background-color: $color-decor;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.cards {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 900px;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
}
.btn-disp {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;

  &__tile {
    width: 20px;
    height: 20px;
    background-color: #ff5f19;
    margin-right: 5px;
  }
  &__string {
    width: 20px;
    height: 20px;
    background-color: orange;
  }
}

.card {
  box-shadow: 0px 4px 60px rgba(133, 133, 133, 0.49);
  border-radius: 10px;
  background-color: #fcfbfb;
  width: 270px;
  height: 300px;
  margin: 10px;

  &__link {
    transition: all 0.3s ease;
  }
  &__link:hover {
    display: inline-block;

    transform: translateY(-5px);
    opacity: 0.9;
  }
  &__order {
    display: inline-block;
    @extend %font-text;
    border-radius: 5px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    padding: 2px 15px;
    margin: 10px 15px;
    position: sticky;
  }
  &__order--available {
    background: rgba(101, 183, 100, 1);
    z-index: 1;
  }
  &__img {
    background: url(../images/content/card-img.jpg) center no-repeat;
    background-size: contain;
    height: 150px;
    opacity: 0.6;
    margin-top: -20px;
    position: relative;
    z-index: 0;
  }
  &__content {
    display: block;
    text-align: center;
    @extend %font-text;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    margin-top: -20px;
    margin-bottom: 10px;
  }
  &__btn {
    display: flex;
    margin: 0 auto;
    background-color: #ff550b;
    color: #fff;
    font-family: "Mako";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 2px 35px;
    border-radius: 5px;
    width: 70%;
  }
}

.card__category {
}
.card__brand {
}
.card__model {
}
.card__stamp {
}
.card__OEM {
}
.card__price {
}

// sidebar
// Начало формы

.catalog {
  width: 300px;
  height: 100%;
  &__inner {
    background: #f1f1f5;
    border: 1px solid #f7f2f2;
    border-radius: 4px;
    height: 100%;
  }
}

.form-search {
  margin: 20px;
  &__text {
    display: block;

    padding: 10px 50px 10px 10px;
    background-color: #fff;
    border: 0.5px solid #a7a7a7;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    font-family: "Mako";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #5c5c5c;
  }
  &__icon {
    position: relative;
  }
  &__icon::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    transform: translateY(-50%);
    display: block;
    width: 20px;
    height: 20px;
    pointer-events: none;
    background: url(../images/icons/search.svg) 95% 50% no-repeat;
  }
}
.form-search__text:focus {
  outline: none;
}

// Категории
.catalog__category {
}
.category {
  &__title {
    @extend %font-text;
    margin-bottom: 15px;
    display: inline-block;
    text-align: center;
    border: 2px solid #ff5f19;
    padding: 5px;
    width: 255px;
    margin-left: 20px;
  }
  &__list {
  }
  &__item {
    padding-left: 50px;
    margin-bottom: 10px;
  }
  &__link {
    display: block;
    text-align: left;
    @extend %font-text;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  &__list-hidden {
    display: none;
  }
}
.btn-more {
  display: flex;
  margin: 0 auto;
  text-align: center;
  //   border: 1px solid #ff5f19;
  padding: 10px 75px;
  color: #5c5c5c;
  background-color: #e4e4e7;
  width: 255px;
  position: relative;
  &:hover {
    opacity: 0.8;
    color: #ff5f19;
  }
  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 23%;
    transform: translate(-50%, -50%);
    background-image: url(../images/icons/show-more-btn.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

// Конец категорий

//  Брэнды
.select-category:focus,
.select-brand:focus {
  outline: none;
}

.form-brand {
  //   display: table;
  margin: 0 20px;
  padding-top: 10px;
}

.form-brand + .form-brand {
}
.select-brand {
  appearance: none;
  border: 1px solid #a7a7a7;
  background-color: transparent;
  color: #5c5c5c;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px 100px 10px 10px;
  width: 100%;
  &__arrow {
    position: relative;
  }
  &__arrow::after {
    content: "";
    background: url(../images/icons/arrow.svg) 95% 50% no-repeat;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: block;
    width: 20px;
    height: 20px;
    pointer-events: none;
  }
}

.true-checkbox {
  width: 0;
  height: 0;
  opacity: 0;

  z-index: -1;
}

.true-checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}

.custom-checkbox {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 5px 10px 0;

  vertical-align: sub;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #ff5f19;
  position: relative;
}

.custom-checkbox::before {
  content: "";
  display: inline-block;
  background-image: url(../images/icons/checked.svg);
  width: 13px;
  height: 13px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  margin-top: 2px;
  transition: 0.2s ease-in;
}

.availables {
  @extend %font-text;
}

.search-btn {
  @extend %font-text;
  display: flex;
  margin: 15px auto;
  background-color: #ff5f19;
  border-radius: 5px;
  color: #fff;
  border: none;
  padding: 5px 105px;
  width: 258px;
  transition: all 0.3 ease;
  &:hover {
    opacity: 0.8;
  }
}
.reset-btn {
  @extend %font-text;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: transparent;
  color: #000;
  border: 2px solid #ff5f19;
  padding: 5px 95px;
  margin: 0 auto;
  width: 258px;
  transition: all 0.3 ease;
  &:hover {
    background-color: #ff5f19;
    color: #fff;
  }
}

//  форма конец

// end sidebar //
//пагинация

.pagination {
  display: flex;
  justify-content: center;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__list {
    display: flex;
  }
  &__list-item {
    margin: 0 6px;
  }
  &__arrow {
    margin: 0 6px;
  }
  &__arrow--disabled {
    opacity: 0;
    pointer-events: none;
  }
  &__list-num {
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    color: #707070;
  }
  &__list-num--activ {
    color: $color-decor;
    pointer-events: none;
  }
}

//end пагинация
//footer start
.footer {
  background-color: #f1f1f5;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
  }
  &__copyrigh {
    height: 80px;
    background-color: #e7e7ec;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 120px;
  }
  &__public-text {
    @extend %font-title;
  }
  &__public-text.span {
    @extend %font-text;
  }
}
.footer-menu {
  &__list-item {
    margin-bottom: 30px;
  }
}
